.consider-font-size {
  font-family:'Noto Sans Japanese';

  .controller {
    margin-bottom: 4em;
    font-size: 12px;

    ul {
      margin: 0;

      &:before {
        display: inline-block;
        width: 6em;
      }
    }
    li {
      display: inline-block;
      width: 5em;

      &:hover {
        color: #08f;
        text-decoration: underline;
      }
    }
    .font-family:before {
      content: 'font:';
    }
    .width:before {
      content: 'width:';
    }
    .font-size:before {
      content: 'font-size:';
    }
    .line-height:before {
      content: 'line-height:';
    }
    .margin-bottom:before {
      content: 'p-margin:';
    }
    li.current {
      font-weight: bold;
    }
  }

  .container {
    width: 700px;
    margin: auto;

    .f-name-ja,
    .f-name-en {
      font-size: 10px; color: #bbb;
    }

    .body-text {
      margin-bottom: 4em;

      p {
        font-size: 16px;
        line-height: 1.8em;
        margin-bottom: 2em;
      }
    }

    .caption {
      font-size: 12px;
      line-height: 1.5em;
    }
  }
}
